<div>
    <h1>Sistema chat Websocket</h1>

    <input type="text" id="chat" name="chat" placeholder="Ingrese un mensaje" style="width: :300px;">
    <br>
    <button onclick="sendMessage()">Enviar</button>

</div>



<script src="/socket.io/socket.io.js"></script>
<script>
    const socketClient = io();


</script>